{% comment %}
  <div
    id="Team-Section"
    data-w-id="eaf644ac-a5c1-8758-18d7-cd3efb63a26e"
    class="section bg-transparent px-24 mobile-mx-0 mobile-px-0 wf-section"
  >
{% endcomment %}
<h1
  style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
  class="heading"
>
  {{ section.settings.heading }}
</h1>
<div data-w-id="c53ba389-6b28-bad1-6b9e-8d00f56a437c" class="cards gap-2 pl-4 pr-2">
  {% for block in section.blocks %}
    <div
      data-w-id="2cbbf073-b593-206a-1871-c0cc18cfa029"
      style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
      class="team-card"
    >
      <div class="team-card-img">
        <img
          src="{{ block.settings.member_img | image_url }}"
          loading="lazy"
          alt=""
          class="image-3"
        >
      </div>
      <div class="team-card-text">
        <h3 class="team-member-name">{{ block.settings.member_name }}</h3>
        {% comment %} <p class="team-member-msg">{{ 't372f1ac0' | t }}</p> {% endcomment %}
      </div>
    </div>
  {% endfor %}
</div>
{% comment %} </div> {% endcomment %}

{% schema %}
{
  "name": "Team Section",
  "tag": "div",
  "class": "section bg-transparent px-24 mobile-mx-0 mobile-px-0 wf-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Team Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "member_img",
          "label": "Member Image"
        },
        {
          "type": "html",
          "id": "member_name",
          "label": "Member Name"
        }
      ]
    }
  ]
}
{% endschema %}
