.card-container{
  display:flex;
  align-items:center;
  justify-content:center;
}

.card{
  display:flex;
  align-items:center;
  justify-content:center;
}    

.card-text{
display:flex;
  align-items:center;
  justify-content:center;
}