/* styling for the background of the card container */
.advantage-section {
  max-width: 1440px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-image: linear-gradient(154deg, #fafafa, #f0ede9);
  width: 95vw;
  margin: 30px auto 15px auto;
  padding-bottom: 4rem;
}

.card-container {
  margin: 0 25px;
}

.heading {
  font-family: Euclid circular b, sans-serif;
  text-align: center;
  word-spacing: 0.1em;
  font-size: 7rem;
  line-height: 86px;
  font-weight: 500;
  color: #393939;
  margin-bottom: 40px;
}

/* basic style that every advantage card button must have */
.advantage-card-button {
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 32px;
  margin: 50px 0 20px 0;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  color: #9d612b;
}

/* for giving shadow to the buttons when hovered */
.advantage-card-button:hover {
  border-color: #ad703b38;
  box-shadow: 1px 1px 35px -1px #9d612b2e;
}

/* for making the zoom in and zoom out functionality */
.card-image-container {
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  background-color: transparent;
  overflow: hidden;
}

.card-image-container img {
  display: block;
  transition: transform 1s;
}

.advantage-card:hover .card-image-container img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

/* each and every image handled like this so that they are contained within the card divs */
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* styling each of the cards */
.advantage-card {
  border-radius: 35px;
  background-color: rgb(253, 234, 234);
  background-image: linear-gradient(151deg, #f3f0ee, #e2dad2);
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: auto;
  margin-left: 38px;
  grid-row-gap: 1rem;
}

/* styling the heading of each of the cards */
.card-text h1 {
  font-weight: 600;
  margin-top: 25px;
  color: #000;
  font-size: 4rem;
  line-height: 43px;
}

/* varying the size of the cards with the max number of cards as chosen by the user */
.max-cards-3 {
  min-width: 28%;
  margin: 0 28px;
}

.max-cards-4 {
  min-width: 20%;
  margin: 0 11px;
}

.max-cards-5 {
  min-width: 14%;
  margin: 0 10px;
}

/* varying the image inside the card according to the image ratio as choosen by the user */
.portrait {
  height: 500px;
  width: 400px;
}

.square {
  height: 440px;
  width: 440px;
}

.adapt {
  height: 291px;
  width: 440px;
}

/* varying the styles of the button inside the card according to the button style as choosen by the user */
.solid_button {
  border: none;
}

.outline_button {
  background-color: transparent;
}

.link_button {
  border: none;
  background-color: transparent;
}

/* making the section mobile reponsive */
/* for mid range screens like tablets */
@media screen and (max-width: 991px) {
  .heading {
    display: block;
    font-size: 4rem;
    line-height: 70px;
  }

  .card-container {
    flex-wrap: nowrap;
    height: 500px;
    overflow-x: auto;
  }

  .advantage-card {
    height: 440px;
    width: 291px;
    flex-shrink: 0;
  }

  .card-text {
    margin-left: 25px;
  }

  .card-text h1 {
    size: 1.5rem;
  }
}

@media screen and (max-width: 455px) {
  .heading {
    margin-bottom: 0;
  }
}