.card-container{
  display:flex;
  align-items:center;
  justify-content:center;
}

.card{
  display:flex;
  align-items:center;
  justify-content:center;
}

.card-img{
  width: 200px;
  height: 300px;
  object-fit: contain;
}