.dropdown-menu {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transform: translateY(-3em);
  z-index: -1;
  transition: all 0.3s ease, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}


.category-dropdown:focus .dropdown-menu,
.category-dropdown:focus-within .dropdown-menu,
.category-dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.3s;

}

.navbar-image{
  height: 67px;
  width: 127px;
  object-fit: cover;
}